body {
    font-family: Comic Sans MS;
    font-size: 15px;
    background-color: #c1d1fd;
}

@keyframes stretch {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.5);
  }
}

.loading-container {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #ecb4bf;
}

.not-loading-container {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #fdd6b5;
}

.loading {
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-image: url("/images/bt.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation-name: stretch;
    animation-duration: 1.0s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}

.not-loading {
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-image: url("/images/bt.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.top {
    margin-bottom: 6px;
}

ul.nav {
    height: 50px;
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    margin-right: 10px;
    overflow: hidden;
    background-color: #8699d1;
    padding: 10px;
    border-radius: 10px;
}

li.nav {
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    padding: 14px;
    border-radius: 10px;
}

li.nav.active {
    background-color: #dba9ce;
}

.import {
    height: 50px;
    vertical-align: top; 
    display: inline-block;
    background-color: #47d1d5;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.import div {
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 14px;
    border-radius: 10px;
    background-color: #fdf3b8;
}

.error {
    height: 50px;
    vertical-align: top; 
    display: inline-block;
    background-color: #47d1d5;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.error div {
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 14px;
    border-radius: 10px;
    background-color: #fdf3b8;
}

.transactions {
    display: inline-block;
    background-color: #d9e0fc;
    padding: 10px;
    border-radius: 10px;
}

.transaction div {
    display: inline-block;
    min-width: 120px;
    min-height: 19px;
    padding: 3px;
    background-color: #bfffe6;
    border-radius: 5px;
    vertical-align: top;
}

.transaction:not(:last-child) {
    margin-bottom: 5px;
}

.transaction div:not(:last-child) {
    margin-right: 5px;
}

.header {
    min-width: 831px;
}

.header div {
    display: inline-block;
    min-width: 120px;
    padding: 3px;
    background-color: #a7e4ae;
    border-radius: 5px;
}

.header div.date {
    min-width: 170px;
}

.header div:not(:last-child) {
    margin-right: 5px;
}

.header:not(:last-child) {
    margin-bottom: 10px;
}

div.taxes {
    display: flex;
    flex-direction: column;
}

ul.tax-params {
    color: white;
    width: fit-content;
    height: 50px;
    display: inline-block;
    list-style-type: none;
    margin: 0px 0px 10px;
    overflow: hidden;
    background-color: #d9e0fc;
    padding: 10px;
    border-radius: 10px;
}

ul.tax-params li {
    color: black;
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    padding: 14px;
    border-radius: 10px;
    user-select: none;
}

ul.tax-params li.active {
    background-color: #a7e4ae;
}

.tax-generate {
    color: blue;
    font-weight: bolder;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}

ul.tax-results {
    color: white;
    width: fit-content;
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    background-color: #d9e0fc;
    padding: 10px;
    border-radius: 10px;
}

ul.tax-results li {
    color: black;
    display: block;
    background-color: #bfffe6; 
    border-radius: 10px;
}

ul.tax-results li:not(:last-child) {
    margin-bottom: 10px;
}

ul.tax-results li span {
    display: inline-block;
    padding: 14px;
    border-radius: 10px;
}

ul.tax-results li span.tax-results-percent::after {
    content: "%"
}

ul.tax-results li span.tax-results-usd::after {
    content: " USD"
}

ul.tax-results li span.tax-results-btc::after {
    content: " BTC"
}

ul.tax-results li span:first-of-type {
    background-color: #dba9ce;
}

div.pagination {
    text-align: center;
}

ul.pagination {
    color: white;
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    background-color: #d9e0fc;
    margin-top: 10px;
    padding: 0px;
    border-radius: 10px;
}

ul.pagination li {
    user-select: none;
    color: black;
    display: inline-block;
    background-color: #bfffe6; 
    border-radius: 10px;
    padding: 10px;
}

ul.pagination li.active {
    color: white;
    background-color: darkred;
}

ul.pagination li:not(:last-child) {
    margin-right: 10px;
}
